.portfolio {
    background-image: var(--first-gradient);
}

.portfolio__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 2.5rem;
    margin-bottom: 3.75rem;
}

.portfolio__list--item {
    color: var(--title-color);
    font-size: var(--tiny-font-size);
    font-weight: 700;
    position: relative;
    transition: all 0.7s var(--transition);
}

.portfolio__list--item::before {
    content: '';
    width: 0;
    height: 2px;
    max-width: 60%;
    background-color: var(--primary-color);
    position: absolute;
    bottom: -.75rem;
    left: 0;
    transition: all 0.3s var(--transition);
}

.active-work {
    color: var(--primary-color);
}

.active-work::before,
.portfolio__list--item:hover::before {
    width: 2.5rem;
}

.portfolio__container {
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.portfolio__img--wrapper {
    border-radius: 1.2rem;
    overflow: hidden;
}

.portfolio__img {
    height: 240px;
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
    transition: all 0.6s var(--transition);
}

.portfolio__items:hover .portfolio__img {
    transform: scale(1.4);
}

.portfolio__category {
    color: var(--primary-color);
    font-size: var(--tiny-font-size);
    font-weight: 700;
    margin-bottom: 5px;
    display: block;
}

.portfolio__category,
.portfolio__description {
    margin-block: 1rem;
}

.portfolio__title {
    font-size: var(--h4-font-size);
}

.portfolio__description {
    min-height: 125px;
    font-size: var(--normal-font-size);
}

.portfolio__link--wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: .5rem;
}