 /* ================================================= */
 /*                   GOOGLE FONTS                    */
 /* ================================================= */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');


 /* ================================================= */
 /*                    VARIAVEIS CSS                  */
 /* ================================================= */

:root {
    
    /* ================== Cores ================== */
    --primary-color: hsl(165, 60%, 40%);
    --title-color: hsl(0, 0%, 100%);
    --text-color: hsl(0, 0%, 92%);
    --bg-color: hsl(216, 18%, 16%);
    --bg-color-alt: hsl(213, 10%, 21%);
    --container-color: hsl(217, 18%, 14%);
    --border-color: hsl(210, 2%, 65%);
    --js-color-icon: #F0DB4F;
    --ts-color-icon: #719AF4;
    --react-color-icon: #61DAFB;
    --angular-color-icon: #B52E31;
    --bootstrap-color-icon: #563D7C;
    --styled-color-icon: #B37399;
    --jquery-color-icon: #2962FF;
    --node-color-icon: #83CD29;
    --first-gradient: linear-gradient(
        0deg,
        var(--bg-color-alt) 0%,
        var(--bg-color) 100%
    );
    --second-gradient: linear-gradient(
        180deg,
        var(--bg-color-alt) 0%,
        var(--bg-color) 100%
    );
    --third-gradient: linear-gradient(
        180deg,
        var(--bg-color) 0%,
        var(--bg-color) 100%
    );

    /* ================== Tipografia ================== */
    --body-font: 'Poppins', sans-serif;
    --second-font: 'Caveat', cursive;

    /* ...8px = .5rem e 16px = 1rem...*/
    --biggest-font-size: clamp(2.25rem, 1.3333rem + 4.1905vw, 5rem);
    --h1-font-size: clamp(1.75rem, 1.4167rem + 1.5238vw, 2.75rem);
    --h2-font-size: 1.875rem;
    --h3-font-size: 1.75rem;
    --h4-font-size: 1.5rem;
    --h5-font-size: 1.375rem;
    --largest-font-size: clamp(1rem, 0.875rem + 0.5714vw, 1.375rem);
    --larger-font-size: 1.25rem;
    --large-font-size: 1.125rem;
    --normal-font-size: 1rem;
    --small-font-size: .9375rem;
    --smaller-font-size: .875rem;
    --tiny-font-size: .8125rem;

    /* ================== Sombreamento ================== */
    --shadow: 5px 5px rgb(255 255 255 /10%);

    /* ================== Transições ================== */
    --transition: cubic-bezier(0.3, 0, 0.3, 1);
}

 /* ================================================= */
 /*                  LIGHT THEME                      */
 /* ================================================= */

.light-theme {
    /* ================== Cores ================== */
    --title-color: #000;
    --text-color: #262626;
    --bg-color: #afaead;
    --bg-color-alt: #fff;
    --container-color: #fff;
    --border-color: #000;

    /* ================== Sombreamento ================== */
    --shadow: 5px 5px rgb(0 0 0 /20%);
}

.light-theme .home__title {
    color: #fff;
}

 /* ================================================= */
 /*                    RESET CSS                      */
 /* ================================================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 button,
 input,
 body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
 }

 body {
    color: var(--text-color);
    background-color: var(--bg-color);
    min-width: 360px;
    margin: auto;
 }

 body.no-scroll {
    overflow: hidden;
 }

 h1, h2, h3 {
    color: var(--title-color);
    font-weight: 700;
 }

 ul {
    list-style: none;
 }

 p {
    line-height: 1.7;
 }

 a {
    text-decoration: none;
 }

 input,
 textarea,
 button {
    border: none;
    outline: none;
    background: transparent;
 }

 button {
    cursor: pointer;
 }

 img {
    max-width: 100%;
 }

/* ================================================= */
/*           CLASSES CSS REUTILIZÁVEIS               */
/* ================================================= */

.main {
    overflow: hidden;
}

.container {
    max-width: 1250px;
    padding-inline: 2.75rem;
    margin-inline: auto;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.text-cs {
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.btn,
.hero__link {
    color: var(--title-color);
    font-size: var(--tiny-font-size);
    font-weight: 700;
    height: 3.5rem;
    display: grid;
    place-items: center;
    position: relative;
    z-index: 1;
}

.btn {
    border: 2px solid var(--border-color);
    padding-inline: 1.5rem;
    border-radius: 3.5rem;
    box-shadow: var(--shadow);
}

.btn::before {
    content: '';
    position: absolute;
    inset: 2px;
    background-color: var(--primary-color);
    border-radius: inherit;
    transform: scale(0.3);
    filter: blur(10px);
    opacity: 0;
    transition: all 0.7s var(--transition);
    z-index: -1;
}

.btn:hover::before {
    transform: scale(1);
    filter: blur(0);
    opacity: 1;
}

.btn-icon {
    display: flex;
    justify-content: center;
    gap: .5rem;
    font-size: var(--smaller-font-size);
}

.btn-icon svg {
    font-size: var(--larger-font-size);
}

.shape {
    position: absolute;
    filter: invert(1);
    opacity: 0.3;
}

.section {
    padding-bottom: 220px;
    position: relative;
}

.section__title,
.section__subtitle {
    text-align: center;
}

.section__title {
    font-size: var(--h1-font-size);
}

.section__subtitle {
    color: var(--primary-color);
    font-size: var(--smaller-font-size);
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 3.75rem;
}

.section__subtitle span {
    font-family: var(--second-font);
    color: var(--title-color);
    font-size: var(--h3-font-size);
    text-transform: capitalize;
    margin-left: .625rem;
}

.card {
    background-color: var(--container-color);
    overflow: hidden;
    text-align: left;
}

.card-one {
    padding: 1.9rem 2.2rem;
    border-radius: 1.125rem;
}

.card-two {
    padding: 1rem;
    border-radius: 1.25rem;
}

.link {
    display: inline-flex;
    align-items: center;
    color: var(--title-color);
    font-weight: 700;
}

.link__icon {
    color: var(--primary-color);
    margin-left: 1.25rem;
    transition: all 0.3s var(--transition);
}

.link:hover .link__icon {
    margin-left: 1rem;
}

.section__deco {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    height: 70%;
    background-color: var(--border-color);
    z-index: 1;
}

.deco__right {
    right: 3%;
}

.deco__left {
    left: 3%;
}

.section__deco::before,
.section__deco::after {
    content: '';
    position: absolute;
    left: 50%;
    width: 1.9rem;
    height: 1.9rem;
    border-radius: 50%;
    background-color: var(--bg-color);
    border: 2px solid var(--border-color);
    box-shadow: var(--shadow);
}

.section__deco::before {
    top: 0;
    transform: translate(-50%, -100%);
}

.section__deco::after {
    bottom: 0;
    transform: translate(-50%, 100%);
}