 /* ================================================= */
 /*                   GOOGLE FONTS                    */
 /* ================================================= */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');


 /* ================================================= */
 /*                    VARIAVEIS CSS                  */
 /* ================================================= */

:root {
    
    /* ================== Cores ================== */
    --primary-color: hsl(165, 60%, 40%);
    --title-color: hsl(0, 0%, 100%);
    --text-color: hsl(0, 0%, 92%);
    --bg-color: hsl(216, 18%, 16%);
    --bg-color-alt: hsl(213, 10%, 21%);
    --container-color: hsl(217, 18%, 14%);
    --border-color: hsl(210, 2%, 65%);
    --first-gradient: linear-gradient(
        0deg,
        var(--bg-color-alt) 0%,
        var(--bg-color) 100%
    );
    --second-gradient: linear-gradient(
        180deg,
        var(--bg-color-alt) 0%,
        var(--bg-color) 100%
    );
    --third-gradient: linear-gradient(
        180deg,
        var(--bg-color) 0%,
        var(--bg-color) 100%
    );

    /* ================== Tipografia ================== */
    --body-font: 'Poppins', sans-serif;
    --second-font: 'Caveat', cursive;

    /* ...8px = .5rem e 16px = 1rem...*/
    --biggest-font-size: 5rem;
    --h1-font-size: 2.75rem;
    --h2-font-size: 1.875rem;
    --h3-font-size: 1.75rem;
    --h4-font-size: 1.5rem;
    --h5-font-size: 1.375rem;
    --largest-font-size: 1.3125rem;
    --larger-font-size: 1.25rem;
    --large-font-size: 1.125rem;
    --normal-font-size: 1rem;
    --small-font-size: .9375rem;
    --smaller-font-size: .875rem;
    --tiny-font-size: .8125rem;

    /* ================== Sombreamento ================== */
    --shadow: 5px 5px rgb(255 255 255 /10%);

    /* ================== Transições ================== */
    --transition: cubic-bezier(0.3, 0, 0.3, 1);
}

 /* ================================================= */
 /*                    RESET CSS                      */
 /* ================================================= */

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 button,
 input,
 body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
 }

 body {
    color: var(--text-color);
    background-color: var(--bg-color);
 }

 h1, h2, h3 {
    color: var(--title-color);
    font-weight: 700;
 }

 ul {
    list-style: none;
 }

 p {
    line-height: 1.7;
 }

 a {
    text-decoration: none;
 }

 input,
 textarea,
 button {
    border: none;
    outline: none;
    background: transparent;
 }

 button {
    cursor: pointer;
 }

 img {
    max-width: 100%;
 }

/* ================================================= */
/*           CLASSES CSS REUTILIZÁVEIS               */
/* ================================================= */

.container {
    max-width: 1440px;
    padding-inline: .75rem;
    margin-inline: auto;
}

.text-cs {
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.btn,
.hero__link {
    color: var(--title-color);
    font-size: var(--tiny-font-size);
    font-weight: 700;
    height: 3.5rem;
    display: grid;
    place-items: center;
    position: relative;
    z-index: 1;
}

.btn {
    border: 2px solid var(--border-color);
    padding-inline: 2.5rem;
    border-radius: 3.5rem;
    box-shadow: var(--shadow);
}

.btn::before {
    content: '';
    position: absolute;
    inset: 2px;
    background-color: var(--primary-color);
    border-radius: inherit;
    transform: scale(0.3);
    filter: blur(10px);
    opacity: 0;
    transition: all 0.7s var(--transition);
    z-index: -1;
}

.btn:hover::before {
    transform: scale(1);
    filter: blur(0);
    opacity: 1;
}

.shape {
    position: absolute;
    filter: invert(1);
    opacity: 0.3;
}

.section {
    padding-bottom: 220px;
}

.section__title,
.section__subtitle {
    text-align: center;
}

.section__title {
    font-size: var(--h1-font-size);
}

.section__subtitle {
    color: var(--primary-color);
    font-size: var(--smaller-font-size);
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 3.75rem;
}

.section__subtitle span {
    font-family: var(--second-font);
    color: var(--title-color);
    font-size: var(--h3-font-size);
    text-transform: capitalize;
    margin-left: .625rem;
}

.card {
    background-color: var(--container-color);
}

.card-one {
    padding: 1.9rem 2.2rem;
    border-radius: 1.125rem;
}

.link {
    display: inline-flex;
    align-items: center;
    color: var(--title-color);
    font-weight: 700;
}

.link__icon {
    color: var(--primary-color);
    margin-left: 1.25rem;
    transition: all 0.3s var(--transition);
}

.link:hover .link__icon {
    margin-left: 1rem;
}